@charset "UTF-8";

.hidden {
    display: none;
}
body{
  font-family: "Baskervville", Arial, Helvetica sans-serif;
}
h3{
  margin-bottom: 10px;
  font-size: 28px;
}
p{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #3a3b3c;
}

.sitecontainer{
    max-width: 1024px;
    margin:auto;

  }
/* ----------------------------------------------------------NAV START ---------------------------------------------------*/
.logo{
  width: 40%;
  padding: 10px;
  order: -1;
}

#mainnav button{
  display: none;
}
#mainnav{
  background-color: #ac2025;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#mainnav ul li{
  list-style-type: none;
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  margin-top: 40px;
  margin-right: 20px;
  padding:9px;
}

#mainnav ul li a{
  text-decoration: none;
  color: #fff;
}

#mainnav ul li a:hover{
  color: #32469a;
  transition: 1s;
}
#menu{
  width: 5%;
  height: 5%;
  display: none;
}


/* ----------------------------------------------------------NAV END ---------------------------------------------------*/
/* --------------------------------------------------------FOOTER START ---------------------------------------------------*/
.mainfooter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%;
  background-color: #ac2025;

}
.mainfooter p {
  font-size: 1vw;
  color: #fff;
}


.footernav ul{
  max-width: 100%;
}
.footernav ul li{
  display: inline-flex;
  margin-bottom: 50px;
}
.footernav ul li a{
  text-decoration: none;
  margin-top: 50%;
  color: #fff;
}
#copyright{
  max-width: 30%;
  right: 20px;
}
/* ----------------------------------------------------------FOOTER END ---------------------------------------------------*/
/* ----------------------------------------------------------HERO START ---------------------------------------------------*/
.hero {
     max-width: 100%;
     block-size: auto;
}

.hero img{
  max-width: 100%;
}

/* ----------------------------------------------------------HERO END ---------------------------------------------------*/

/* ----------------------------------------------------------LANDING START ---------------------------------------------------*/
.welcomepage{
    margin-top: 0px;
    justify-content: center;
    background: url(../images/billings_brody_landingpage.jpg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    background-size: 1024px, 600px;
    height: 600px;
    background-size: 100%;
}
.formopeninfo {
padding: 60px;
animation-duration: 2s;
animation-name: slidein;
}

.formopeninfo p{
  margin-top: 30%;
}
.formopeninfo input{
  max-width: 100%;
}

@keyframes slidein {
    from {
      margin-top: 0%;
      margin-left: 100%;
      width: 100%;
    }
    to {
      margin-left: 10%;
      width: 100%;
    }
}

/* ----------------------------------------------------------LANDING END ---------------------------------------------------*/


/* ----------------------------------------------------------ABOUT START ---------------------------------------------------*/
#stories{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#stories p {
  margin-right: 5px;
}

.hisarticlel{
    display: inline-block;
    margin-bottom: 50px;
}
.hisarticlel img{
    float: left;
    margin-right: 10px;
    max-width: 100%;
}

.hisarticlel p{
    margin-top: 100px;
    margin-left: 20px;
}

.overlap p {
    text-align: left;
    max-width: 50px;
}
@media only screen and (max-width:717px) {
  .hisarticlel{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
    .hisarticlel p{
        margin-top: 100px;
        margin-left: 20px;
    }

  .hisarticlel p{
      margin-top: 20px;
      margin-left: 10px;
  }
}

/* ----------------------------------------------------------ABOUT END ---------------------------------------------------*/

/* ----------------------------------------------------------PRODUCT START ---------------------------------------------------*/
#products{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 50px;
}

#products h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#blist{
  display: none;
}
@media only screen and (max-width:850px) {
#product2 {display: none;}
#product3 {display: none;}

#blist{
  display: flex;
  flex-direction: row;
justify-content: space-between;
margin-left: 20%;
margin-right: 20%;
margin-bottom: 20px;
}
#btn1{
  padding: 10px;
  border-radius: 30px;
  background-color: #ac2025;
}
#btn2{
  padding: 10px;
  border-radius: 30px;
  background-color: #ac2025;
}
#btn3{
  padding: 10px;
  border-radius: 30px;
  background-color: #ac2025;
}

}


/* ----------------------------------------------------------PRODUCT END ---------------------------------------------------*/

/* ----------------------------------------------------------ADVERT START ---------------------------------------------------*/

.advertisments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.advertisments img{
  cursor: pointer;
}
.ad2 {
  margin-bottom:50px;
}

.advertisments p {
  max-width: 400px;
}
/* ----------------------------------------------------------ADVERT END ---------------------------------------------------*/

/* ---------------------------------------------------------CONTACT START ---------------------------------------------------*/
.formcontact{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}
input[type=text], select, textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ac2025;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10%;


}

/* ----------------------------------------------------------CONTACT END ---------------------------------------------------*/

/* ----------------------------------------------------------MOBILE START ---------------------------------------------------*/

@media only screen and (max-width:500px) {

  .sitecontainer{
      max-width: 1024px;
    }

    p{
      font-size: 12px;
      color: #3a3b3c;
    }

    .logo{
  		width: 40%;
  		padding: 10px;
  		order: +1;
  	}

    #mainnav ul li a:hover{
      color: #ac2025;
      transition: 1s;
    }
  	#mainnav button{
  		display: inline-flex;
  		float: right;
  	}
  	#mainnav button
  	{
  		background: url(../images/hamburgermenu.png) center no-repeat;
  		background-size: 20px 20px;
  		height: 30px;
  		width: 30px;
  		border: 1px;
  		transition: all 300ms ease;
  		margin-left: auto;
  		margin-right:  20px;
  		margin-top: 10px;
  	}

  	#mainnav button.expanded
  	{
  		transform: rotate(270deg);
  	}

  	#mainnav
  	{
  		display: flex;
  		flex-direction: column;
  		background-color: #32469a;
  	}

  	#mainnav ul li {
  		margin-top: 5px;
  	}

  	#mainnav li a
  	{
  		display: block;
  		color: #8ea76d;
  		padding: 10px 0 10px 0;
  		text-align: center;
  		width: 100%;
  	}

  	#mainnav li
  	{
  		border-bottom: 1px solid #fff;
  	}

  	#mainnav li:first-child
  	{
  		border-top: 1px solid #fff;
  	}

  	#menucontent
  	{

  		display: none;
  	}

  	#menucontent.slideToggle
  	{
  		display: block;
  	}

  	#hamburgermenu{
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  	}


/* ----------------------------------------------------------NAV MOBILE START -------------------------------------------------*/
.mainnav{
    background-color: #32469a;
    flex-direction: column;
    position: sticky;
    top: 0px;
  }
#menu{
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  right: 20px;
}

.mainnav ul {
  color: white;
}
.mainnav ul li{
  background-color: green;
  list-style-type: none;
  display: block;
  margin-top: 40px;
  padding:10px;
  display: none;
  margin-right: 30px;
}
/* ----------------------------------------------------------NAV MOBILE END -------------------------------------------------*/
/* ----------------------------------------------------------Foot MOBILE END -------------------------------------------------*/
.mainfooter{
  background-color: #32469a;
}

#copyright {
  justify-content: space-around;
 padding: 20px;
}
#copyright p {
  margin-left: auto;
  margin-right:
  max-width: 200px;
  align-items: center;

}
/* --------
/* ----------------------------------------------------------Foot MOBILE END -------------------------------------------------*/

/* ----------------------------------------------------------ABOUT MOBILE START ---------------------------------------------------*/
.hisarticlel{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
/* ----------------------------------------------------------ABOUT MOBILE END ---------------------------------------------------*/

/* ----------------------------------------------------------ADVERT MOBILE START ---------------------------------------------------*/
.advertisments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 50px;
}
.advertisments img{
  max-width: 100%;
}

.footernav ul li{
  display: none;
}

#copyright{
  max-width: 100%;
  font-size: 10px;
}
/* ----------------------------------------------------------ADVERT MOBILE END ---------------------------------------------------*/

}
